{% extends "base.html" %}
{% block title %}JOLC{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #832561;">
    <div class="container-fluid ms-5 my-2">
      <a class="navbar-brand me-5" href="">JOLC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('compile')}}">Código</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Errores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Tabla de Símbolos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="">Árbol de Análisis Sintáctico</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <img src="data:image/png;base64,{{image|safe}}"  class="img-fluid"/>
        </div>
    </div>
</div>
{% endblock %}